# Maven outputs
target/
!**/src/main/**/target/
!**/src/test/**/target/

build/
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Python virtual environment
/py-jira/.venv/

### OS files
.DS_Store
.env*
._*
~$*
desktop.ini
*~
